
    body {
    font-family: Arial, sans-serif;
    background-color: #f1f2f6;
    }

    .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    }

    .form-container {
    width: 50%;
    }

    .card-container {
    width: 45%;
    }

    .form-group {
    margin-bottom: 20px;
    }

    label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    }

    .card {
    background-color: #7bed9f;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card p {
    margin: 0;
    }

    .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    }

    .card-item {
    margin-bottom: 5px;
    }

    .card-item-label {
    font-weight: bold;
    }

    .card-item-value {
    margin-left: 10px;
    }

    .card-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    }

    .submit-button {
    background-color: #0652DD;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    }
    .clear-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    }

    .submit-button:hover {
    background-color: #45a049;
    }

    .card-image{
        height:100px;
        width: 100px;
    }
